#main_container {
  padding-top: 60px;
  background: image_url('game_of_thrones_background') no-repeat fixed center;
  background-size: cover;
  background-color: black;
  min-height: 90%;
}

#menu_header {
  background-color: rgba(51,87,149,1);
}

#page_container {
  background-color: rgba(0,0,0,0.6);
  min-height: 560px;
  padding-bottom: 30px;
}

#logo {
  font-size: 1.7em;
  color: white;
  text-transform: lowercase;
  letter-spacing: 3px;
  padding-top: 9px;
  font-weight: bold;
}

.logo_text {
  font-size: 2.1em;
  color: white;
  text-transform: lowercase;
  letter-spacing: 3px;
  padding-top: 9px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 80%;
}

#series_header_container {
  background: image_url('game_of_thrones_background.jpg') no-repeat fixed center;
  background-size: cover;
}

#news_header_container {
  background: image_url('game_of_thrones_background_4.jpg') no-repeat fixed center;
  padding-top: 70px;
  padding-bottom: 70px;
}

#apply_segment {
  background-color: rgba(0, 0, 0, 0.5)!important;
}


#page_footer {
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom:0px;
  background-color: #efefef;
  text-align: center;
}