<% provide(:title, 'New Episode') %>
<h1 class="ui center aligned huge header">
  <div class="content header_text">
    New Episode
  </div>
</h1>

<div class="ui segment" style="width:60%;margin:0 auto;">
  <div class="ui center aligned form <% if @episode.errors.any? %> error <%end%>">
	<%= render 'form', episode: @episode %>

  </div>
</div>

<div class="ui divider"></div>
<div>
  <%= link_to 'Back to episodes', show_all_episodes_path(@episode.season), class: "ui fluid blue animated button"%>
</div>
