<% provide(:title, 'Edit Season') %>
<h1 class="ui center aligned huge header">
  <div class="content header_text">
    Edit Season Information
  </div>
</h1>

<div class="ui segment" style="width:60%;margin:0 auto;">
  <div class="ui center aligned form <% if @season.errors.any? %> error <%end%>">
	<%= render 'form', season: @season %>

  </div>
</div>

<div class="ui divider"></div>
<div>
  <%= link_to 'Back to Seasons', show_all_seasons_path(@season.series), class: "ui fluid blue animated button"%>
</div>
