<div class="ui fluid vertical footer segment" id="page_footer">
  <div class="ui secondary menu">
  	<div class="ui container">
      <div class="right menu">
        <%= link_to "About", "#", class: "item" %>
        <%= link_to "Contact", "#", class: "item"%>
        <%= link_to "News", "#", class: "item" %>
      </div>
    </div>
  </div>
</div>